@model ucsdscheduleme.Models.ScheduleViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="flex-container">
    <div class="middle">
        <div class="calendar">
            <div class="schedule">
                <div id="monday" class="schedule-group">
                    <div class="event">
                        <div class="event-header">
                            <div class="icon" id="lecture">LE</div>
                            <div class="event-info">
                                <span>CSE 110</span>
                                <span>Gary Gillespie</span>
                                <span>8:00am - 9:20am</span>
                                <span>A00</span>
                            </div>
                        </div>
                    </div>
                    <div class="schedule-header"><span>Monday</span></div>
                </div>
                <div id="tuesday" class="schedule-group">
                    <div class="schedule-header"><span>Tuesday</span></div>
                    <div class="event">
                        <div class="event-header">
                            <div class="icon" id="lab">LA</div>
                            <div class="event-info">
                                <span>CSE 110</span>
                                <span>Gary Gillespie</span>
                                <span>8:00am - 9:20am</span>
                                <span>A00</span>
                            </div>
                        </div>
                    </div>
                </div>
               <div id="wednesday" class="schedule-group">
                    <div class="schedule-header"><span>Wednesday</span></div>
                    <div class="event">
                        <div class="event-header">
                            <div class="icon" id="discussion">DI</div>
                            <div class="event-info">
                                <span>CSE 110</span>
                                <span>Gary Gillespie</span>
                                <span>8:00am - 9:20am</span>
                                <span>A00</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="thursday"  class="schedule-group">
                    <div class="schedule-header"><span>Thursday</span></div>
                </div>
                <div id="friday"  class="schedule-group">
                    <div class="schedule-header"><span>Friday</span></div>
                </div>
            </div>
            <div class="time">
                <div>
                    <div><span>07:30am</span></div>
                    <div><span>08:00am</span></div>
                    <div><span>08:30am</span></div>
                    <div><span>09:00am</span></div>
                    <div><span>09:30am</span></div>
                    <div><span>10:00am</span></div>
                    <div><span>10:30am</span></div>
                    <div><span>11:00am</span></div>
                    <div><span>11:30am</span></div>
                    <div><span>12:00pm</span></div>
                    <div><span>12:30pm</span></div>
                    <div><span>01:00pm</span></div>
                    <div><span>01:30pm</span></div>
                    <div><span>02:00pm</span></div>
                    <div><span>02:30pm</span></div>
                    <div><span>03:00pm</span></div>
                    <div><span>03:30pm</span></div>
                    <div><span>04:00pm</span></div>
                    <div><span>04:30pm</span></div>
                    <div><span>05:00pm</span></div>
                    <div><span>05:30pm</span></div>
                    <div><span>06:00pm</span></div>
                    <div><span>06:30pm</span></div>
                    <div><span>07:00pm</span></div>
                    <div><span>07:30pm</span></div>
                    <div><span>08:00pm</span></div>
                    <div><span>08:30pm</span></div>
                    <div><span>09:00pm</span></div>
                    <div><span>09:30pm</span></div>
                    <div><span>10:00pm</span></div>
                    <div><span>10:30pm</span></div>
                    <div><span>11:00pm</span></div>
                </div>
            </div>
        </div>

        <div class="bottom">
            <ul>
                </br>
                TO-DO:
                <li>- Finish calendar</li>
                <li>- Make the event divs</li>
                <li>- Destroy all computers in B260 and get arrested.</li>
            </ul>
        </div>
    </div>

    <div class="side left-bar">
        <div id="logo">
            <h2>ucsdschedule.me</h2>
        </div>
    </div>

    <div class="side right-bar">
        <div id="averages">
            <div id="overallStat">
                <table class="statsdata" id="tabledata">
                    <tr class="statsdata">
                        <th class="statsdata"> Overall Avg. Workload: </th>
                        <th class="statsdata"> <em> @Model.OverallMetadata.AverageTotalWorkload </em> </th>
                    </tr>
                    <tr class="statsdata">
                        <th class="statsdata"> Overall Avg. GPA Expected: </th>
                        <th class="statsdata"> <em> B+ (3.34) </em> </th>
                    </tr>
                    <tr class="statsdata">
                        <th class="statsdata"> Overall Avg. Recieved: </th>
                        <th class="statsdata"> <em> B- (2.99) </em> </th>
                    </tr>
                </table>
            </div>
            <div id="colorstrip"> </div>
            <div id="metadata">
                @foreach (var metadata in Model.ClassMetadata)
                {
                    <div class="courseStat" id="course1">
                        <div id="coursetaken">
                            <div id="coursename">@metadata.CourseAbbreviation</div>
                            <div id="professorname">@metadata.ProfessorName</div>
                            <div>Avg. Workload: @metadata.AverageTotalWorkload</div>
                            <div>Avg. Grade Expected: @metadata.AverageGpaExpected</div>
                            <div>Avg. Grade Received: @metadata.AverageGpaReceived</div>
                        </div>
                    </div>

                }
                <div class="courseStat" id="course1">
                    <div id="coursetaken">
                        <div id="coursename">CSE 110</div>
                        <div id="professorname">Gary Gillespie</div>
                        <div>Avg. Workload: 69 Hrs/Wk </div>
                        <div>Avg. Grade Expected: F- (0.00)</div>
                        <div>Avg. Grade Received: F- (0.00)</div>
                    </div>
                </div>
                <div class="courseStat" id="course2">
                    <div id="coursetaken">
                        <div id="coursename">CSE 110</div>
                        <div id="professorname">Professor Name</div>
                        <div>Avg. Workload: 69 Hrs/Wk </div>
                        <div>Avg. Grade Expected: F- (0.00)</div>
                        <div>Avg. Grade Received: F- (0.00)</div>
                    </div>
                </div>
                <div class="courseStat" id="course3">
                    <div id="coursetaken">
                        <div id="coursename">CSE 110</div>
                        <div id="professorname">Gary Gillespie</div>
                        <div>Avg. Workload: 69 Hrs/Wk </div>
                        <div>Avg. Grade Expected: F- (0.00)</div>
                        <div>Avg. Grade Received: F- (0.00)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
